<a href="https://colab.research.google.com/github/ksfajardo/PG-YELP-GMAPS/blob/DA/DA_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Acceso a Big Query

In [ ]:
# Verificación de cuenta
from google.colab import auth
auth.authenticate_user()

In [ ]:
#Acceder al proyecto de BigQuery

from google.cloud import bigquery
client = bigquery.Client(project='pg-yelp-gmaps-389415')

# Google

#### ⚠⚠⚠ Código que cobra

In [ ]:
# COBRA AL CORRER
#Consultar la tabla XX del dataset XX

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Metadata
                ''')

df_meta = client.query(sql_query).to_dataframe()

In [9]:
# COBRA AL CORRER
#Consultar la tabla GMaps del dataset Reviews

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Reviews
                ''')

df_reviewg = client.query(sql_query).to_dataframe()

## Metadata

In [10]:
df_reviewg.head()

,user_id,date,rating,opinion,gmap_id,feeling,state
0,1.1258383801702212e+20,2018-07-15,1,Meh.,0x809b1bfeefcce5ad:0x16a2199c791bab34,Neutral,CA
1,1.1158716878554667e+20,2019-10-16,1,"They say 2-3 day production, but it has been o...",0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c,Neutral,CA
2,1.0077126636401171e+20,2017-03-24,1,Doesn't allow homeless to recycle... Although ...,0x808fbf0349725b6f:0xc4a8ae77d2681830,Neutral,CA
3,1.0875336065015038e+20,2021-04-02,1,It is not Stockton Auto glass\n....It is now S...,0x8090755576797dff:0xb1ede22a31ac4fbb,Neutral,CA
4,1.0126793371476019e+20,2021-05-25,1,Junk,0x8090755576797dff:0xb1ede22a31ac4fbb,Neutral,CA

In [11]:
df_meta.head()

,local_name,gmap_id,latitude,longitude,subcategory,avg_rating,num_of_reviews,price,hours,MISC,state,platform,category
0,Richmond House Pub,0x8805e31e080da871:0xaa8ce3d6b6d0032f,42.725457,-88.7488111,bar,1.0,1,None,None,"{""Highlights"": [""Bar games"", ""Fast service"", ""...",None,Google Maps,food service
1,Senior Early Bird Buffet,0x87c05f3160171427:0xe8874cb4b7e1c0ce,39.255328,-94.6502478,restaurant,1.0,1,None,None,"{""Service options"": [""Dine-in"", ""Delivery""], ""...",None,Google Maps,food service
2,St. Vincent de Paul Society,0x87239b39f64204e9:0xb7a986abdc84eac0,35.15539,-107.845524,"non-profit organization, food bank, religious ...",1.0,2,None,None,None,None,Google Maps,food service
3,Porkys Bar N Grill,0x89d30dcbfefede3d:0xbcab21000ea3199f,42.871962599999996,-78.8015242,bar,1.0,1,None,None,"{""Service options"": [""Dine-in""], ""Offerings"": ...",None,Google Maps,food service
4,La Brisa,0x88f80115fd50f0ef:0xee8696380253df36,34.196335,-82.15025,ice cream shop,1.0,1,$$,None,"{""Service options"": [""Delivery""], ""Highlights""...",None,Google Maps,food service