<a href="https://colab.research.google.com/github/ksfajardo/PG-YELP-GMAPS/blob/DA/DA_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Acceso a Big Query

In [ ]:
# Verificación de cuenta
from google.colab import auth
auth.authenticate_user()

In [ ]:
#Acceder al proyecto de BigQuery

from google.cloud import bigquery
client = bigquery.Client(project='pg-yelp-gmaps-389415')

# Importar librerías

In [ ]:
import pandas as pd
import ast

# Importación de datos desde BigQuery
## ⚠⚠⚠

## Google

### Metadata

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Metadata del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Metadata
                ''')

df_meta = client.query(sql_query).to_dataframe()

### Reviews

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Reviews Part 1/4 del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Reviews
                LIMIT 3000000''')

df_reviewg_1 = client.query(sql_query).to_dataframe()

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Reviews Part 2/4 del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Reviews
                LIMIT 3000000 OFFSET 3000000''')

df_reviewg_2 = client.query(sql_query).to_dataframe()

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Reviews Part 3/4 del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Reviews
                LIMIT 3000000 OFFSET 6000000''')

df_reviewg_3 = client.query(sql_query).to_dataframe()

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Reviews Part 4/4 del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.GMaps.Reviews
                LIMIT 3381800 OFFSET 9000000''')

df_reviewg_4 = client.query(sql_query).to_dataframe()

## Places API

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Metadata del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.PlacesAPI.business
                ''')

df_meta_API = client.query(sql_query).to_dataframe()

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Metadata del dataset GMaps

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.PlacesAPI.reviews
                ''')

df_reviews_API = client.query(sql_query).to_dataframe()

## Yelp

### Business

In [ ]:
# COBRA AL CORRER
#Consultar la tabla business del dataset Yelp

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.Yelp.business
                ''')

df_business = client.query(sql_query).to_dataframe()

### Reviews

In [ ]:
# COBRA AL CORRER
#Consultar la tabla Reviews del dataset Yelp

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.Yelp.Reviews
                ''')

yelp_reviews = client.query(sql_query).to_dataframe()

### Checkin

In [ ]:
# COBRA AL CORRER
#Consultar la tabla checkin del dataset Yelp

sql_query = ('''SELECT *
                FROM pg-yelp-gmaps.Yelp.checkin
                ''')

df_checkin = client.query(sql_query).to_dataframe()

# Google

## Metadata

In [ ]:
df_meta.head()

,local_name,gmap_id,latitude,longitude,subcategory,avg_rating,num_of_reviews,price,hours,MISC,state,platform,category
0,Tribbey Barr,0x87b3ac89402147a1:0x9a962c564f57cea6,35.1128354,-97.0538935,bar,4.1,33,None,None,"{""Service options"": [""Outdoor seating"", ""Deliv...",None,Google Maps,food service
1,Highwire Bar,0x87b3ad8d4ff39983:0x533a68a773ffb75a,35.1128354,-97.0538935,bar,4.9,8,None,None,"{""Service options"": [""Delivery""], ""Offerings"":...",None,Google Maps,food service
2,NUL,0x8841b1f8e7066a95:0x9f4eb8ab06d3c633,39.0941276,-84.4947691,bar,5.0,1,None,None,"{""Service options"": [""Dine-in"", ""Delivery"", ""T...",None,Google Maps,food service
3,The Drawing Room,0x88fe7bf6f5ed59f7:0x227246356eb520f3,32.7786654,-79.9265451,bar,5.0,3,None,None,"{""Service options"": [""Dine-in"", ""Delivery""], ""...",None,Google Maps,food service
4,bar restauran,0x88d9bb05066486f7:0x9723aec0ac8bf391,25.8690738,-80.3302124,bar,4.6,28,None,None,"{""Service options"": [""Dine-in""], ""Highlights"":...",None,Google Maps,food service

In [ ]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377301 entries, 0 to 377300
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   local_name      377301 non-null  object
 1   gmap_id         377301 non-null  object
 2   latitude        377301 non-null  object
 3   longitude       377301 non-null  object
 4   subcategory     377301 non-null  object
 5   avg_rating      377301 non-null  object
 6   num_of_reviews  377301 non-null  object
 7   price           377301 non-null  object
 8   hours           377301 non-null  object
 9   MISC            377301 non-null  object
 10  state           377301 non-null  object
 11  platform        377301 non-null  object
 12  category        377301 non-null  object
dtypes: object(13)
memory usage: 37.4+ MB

In [ ]:
# Eliminar registros de más
idx = df_meta[df_meta['subcategory'].str.contains('food store|supplier|public|publish|convenience|gas |atm|bank|manufacturer|organization|food service|food producer|food market')].index
df_meta = df_meta.drop(idx).reset_index(drop = True)

In [ ]:
#Transformar al tipo de dato correspondiente
df_meta['hours'] = df_meta['hours'].apply(lambda x: ast.literal_eval(x))
df_meta['MISC'] = df_meta['MISC'].apply(lambda x: ast.literal_eval(x))
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324331 entries, 0 to 324330
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   local_name      324331 non-null  object
 1   gmap_id         324331 non-null  object
 2   latitude        324331 non-null  object
 3   longitude       324331 non-null  object
 4   subcategory     324331 non-null  object
 5   avg_rating      324331 non-null  object
 6   num_of_reviews  324331 non-null  object
 7   price           324331 non-null  object
 8   hours           286622 non-null  object
 9   MISC            311723 non-null  object
 10  state           324331 non-null  object
 11  platform        324331 non-null  object
 12  category        324331 non-null  object
dtypes: object(13)
memory usage: 32.2+ MB

### Categorías de restaurantes

In [ ]:
# Definir función para categorizar
def categorize (row):
    row = row.lower()
    if 'fast food' in row:
        return 'Fast food'
    elif any(word in row for word in ['burger', 'chicken', 'barbecue', 'barbeque', 'steak','bistro','buffet']):
        return 'Tradicional'
    elif any(word in row for word in ['pizza', 'sandwich', 'hot dog']):
        return 'Pizza & Sandwich'
    elif any(word in row for word in ['bar', 'beer', 'pub','club']):
        return 'Bar'
    elif any(word in row for word in ['mexican', 'taco']):
        return 'Mexicana'
    elif any(word in row for word in ['deli', 'seafood', 'wine', 'cocktail','vegan','vegeta']):
        return 'Epecial'
    elif any(word in row for word in ['chinese', 'italian', 'asian', 'japan', 'sushi', 'thai', 'indian', 'korean','latin','ramen','africa'\
                                       'mediterranean','vietnamese','jamaica','greek','eastern','caribbean','cuba','peru','salvador','cajun','french']):
        return 'Internacional'
    elif any(word in row for word in ['coffee','cafe', 'ice cream', 'dessert', 'yogurt', 'bakery', 'pastry', 'breakfast', 'cupcake', 'tea', 'smoothie','juice']):
        return 'Desayuno'
    else:
        return 'Sin Dato'

df_meta['rest_category'] = df_meta['subcategory'].apply(categorize)
idx_otra = list(df_meta[df_meta['rest_category'] == 'Sin Dato'].index)
df_meta.loc[idx_otra,'rest_category'] = df_meta.loc[idx_otra,'local_name'].apply(categorize)

In [ ]:
df_meta.rest_category.value_counts()

Bar                 90096
Desayuno            56380
Sin Dato            42571
Internacional       29699
Pizza & Sandwich    27992
Fast food           27303
Tradicional         19693
Mexicana            17553
Epecial             13044
Name: rest_category, dtype: int64

### Eliminar registros usando subcategorías y categorías

In [ ]:
# Eliminar registros que hayan quedado en categoría 'Sin dato' y la subcategoría NO contenga 'restaurant'
idx2 = list(df_meta[(df_meta['rest_category'] == 'Sin Dato') & (~df_meta['subcategory'].str.contains('restaurant'))].index)
df_meta = df_meta.drop(idx2).reset_index(drop = True)

In [ ]:
df_meta.rest_category.value_counts()

Bar                 90096
Desayuno            56380
Sin Dato            41264
Internacional       29699
Pizza & Sandwich    27992
Fast food           27303
Tradicional         19693
Mexicana            17553
Epecial             13044
Name: rest_category, dtype: int64

### Días abierto

In [ ]:
# Obtener lista de días abiertos
df_meta['days_open'] = df_meta[~df_meta.hours.isna()]['hours'].apply(lambda x: [day[0] for day in x if day[1] != 'Closed'])

In [ ]:
#Días abiertos discreto

def open (row):
    mon_sat = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday']
    thu_sun = ['Saturday', 'Sunday', 'Thursday', 'Friday']
    week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    if isinstance(row,list):
        if len(row) == 7:
            return 'Todos los días'
        elif all(weekday in row for weekday in mon_sat):
            return 'Domingo cerrado'
        elif all(weekday in row for weekday in thu_sun):
            return 'Jue-Dom'
        elif all(weekday in row for weekday in week):
            return 'Semana'
        else:
            return 'Otro'

df_meta['abierto'] = df_meta.days_open.apply(open)

In [ ]:
df_meta.abierto.value_counts()

Todos los días     161319
Jue-Dom             38054
Otro                36744
Domingo cerrado     36491
Semana              13086
Name: abierto, dtype: int64

### Servicio

In [ ]:
#Crear columna 'service' de la llave correspondiente, lista de servicios ofrecidos
df_meta['service'] = df_meta['MISC'].apply(lambda x: x['Service options'] if isinstance(x, dict) and 'Service options' in x.keys() else None)

In [ ]:
#Categorizar sin repetir el servicio

def service_f (row):
    full = ['Takeout', 'Dine-in', 'Delivery']
    take_del = ['Takeout', 'Delivery']
    take_dine = ['Takeout', 'Dine-in']
    dine_del = ['Dine-in', 'Delivery']
    dine_take = ['Dine-in', 'Takeout']

    if isinstance(row,list):
        if all(service in row for service in full):
            return 'Dine-in, Takeout, Delivery'
        elif all(service in row for service in take_del):
            return 'Takeout, Delivery'
        elif all(service in row for service in take_dine):
            return 'Dine-in, Takeout'
        elif all(service in row for service in dine_del):
            return 'Dine-in, Delivery'
        elif all(service in row for service in dine_take):
            return 'Dine-in, Takeout'
        elif 'Delivery' in row:
            return 'Delivery'
        elif 'Takeout' in row:
            return 'Takeout'
        elif 'Dine-in' in row:
            return 'Dine-in'
        else:
            return 'Sin Dato'

df_meta['service'] = df_meta['service'].apply(service_f)

In [ ]:
df_meta.service.value_counts()

Dine-in, Takeout, Delivery    100833
Takeout, Delivery              67301
Delivery                       67142
Dine-in, Delivery              14295
Dine-in, Takeout               10709
Takeout                         7951
Dine-in                         3102
Sin Dato                        1977
Name: service, dtype: int64

### Eliminar columnas

In [ ]:
df_meta.drop(columns = ['MISC','platform','category','hours','subcategory','price','state','days_open'], inplace=True)

## Review

### Part I

In [ ]:
df_reviewg_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   date     object
 2   rating   object
 3   opinion  object
 4   gmap_id  object
 5   feeling  object
 6   state    object
dtypes: object(7)
memory usage: 160.2+ MB

In [ ]:
df_review_1f = df_reviewg_1[df_reviewg_1['gmap_id'].isin(df_meta['gmap_id'])]

In [ ]:
df_review_1f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1186411 entries, 9 to 2999998
Data columns (total 7 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1186411 non-null  object
 1   date     1186411 non-null  object
 2   rating   1186411 non-null  object
 3   opinion  1186411 non-null  object
 4   gmap_id  1186411 non-null  object
 5   feeling  1186411 non-null  object
 6   state    1186411 non-null  object
dtypes: object(7)
memory usage: 72.4+ MB

### Part II

In [ ]:
df_reviewg_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   date     object
 2   rating   object
 3   opinion  object
 4   gmap_id  object
 5   feeling  object
 6   state    object
dtypes: object(7)
memory usage: 160.2+ MB

In [ ]:
df_review_2f = df_reviewg_2[df_reviewg_2['gmap_id'].isin(df_meta['gmap_id'])]

In [ ]:
df_review_2f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1090098 entries, 48 to 2999997
Data columns (total 7 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1090098 non-null  object
 1   date     1090098 non-null  object
 2   rating   1090098 non-null  object
 3   opinion  1090098 non-null  object
 4   gmap_id  1090098 non-null  object
 5   feeling  1090098 non-null  object
 6   state    1090098 non-null  object
dtypes: object(7)
memory usage: 66.5+ MB

### Part III

In [ ]:
df_reviewg_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   date     object
 2   rating   object
 3   opinion  object
 4   gmap_id  object
 5   feeling  object
 6   state    object
dtypes: object(7)
memory usage: 160.2+ MB

In [ ]:
df_review_3f = df_reviewg_3[df_reviewg_3['gmap_id'].isin(df_meta['gmap_id'])]

In [ ]:
df_review_3f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049156 entries, 0 to 2999997
Data columns (total 7 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1049156 non-null  object
 1   date     1049156 non-null  object
 2   rating   1049156 non-null  object
 3   opinion  1049156 non-null  object
 4   gmap_id  1049156 non-null  object
 5   feeling  1049156 non-null  object
 6   state    1049156 non-null  object
dtypes: object(7)
memory usage: 64.0+ MB

### Part IV

In [ ]:
df_reviewg_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3381800 entries, 0 to 3381799
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   date     object
 2   rating   object
 3   opinion  object
 4   gmap_id  object
 5   feeling  object
 6   state    object
dtypes: object(7)
memory usage: 180.6+ MB

In [ ]:
df_review_4f = df_reviewg_4[df_reviewg_4['gmap_id'].isin(df_meta['gmap_id'])]

In [ ]:
df_review_4f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881426 entries, 3 to 3381799
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  881426 non-null  object
 1   date     881426 non-null  object
 2   rating   881426 non-null  object
 3   opinion  881426 non-null  object
 4   gmap_id  881426 non-null  object
 5   feeling  881426 non-null  object
 6   state    881426 non-null  object
dtypes: object(7)
memory usage: 53.8+ MB

### Review concatenated

In [ ]:
dataframes = [df_review_1f, df_review_2f, df_review_3f, df_review_4f]
df_reviewg = pd.concat(dataframes, axis=0)
df_reviewg = df_reviewg.reset_index(drop=True)
df_reviewg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207091 entries, 0 to 4207090
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   date     object
 2   rating   object
 3   opinion  object
 4   gmap_id  object
 5   feeling  object
 6   state    object
dtypes: object(7)
memory usage: 224.7+ MB

In [ ]:
df_reviewg['opinion_length'] = df_reviewg['opinion'].apply(lambda x: 1 if len(x.replace(" ", "")) > 30 else 0)

In [ ]:
df_reviewg["opinion_length"].value_counts()

0    2543296
1    1663795
Name: opinion_length, dtype: int64

In [ ]:
df_reviewg.drop(["user_id"], axis=1, inplace=True)

## Metadata Extra

### Extraer datos de Review

In [ ]:
df_reviewg['date'] = pd.to_datetime(df_reviewg['date'])

In [ ]:
# Obtener una lista de los ids de restaurantes que recibieron al menos un comentario en 2019 y 2021 respectivamente
comment_2019 = list(df_reviewg[df_reviewg.date.dt.year == 2019]['gmap_id'].unique())
comment_2021 = list(df_reviewg[df_reviewg.date.dt.year == 2021]['gmap_id'].unique())

# Crear un nuevo dataframe con valores únicos de 'gmap_id'
comments = pd.DataFrame(df_reviewg['gmap_id'].unique(), columns=['gmap_id'])
# Agregar al dataframe dos columnas indicando si el restaurante tuvo o no comentarios en los respectivos años
comments['comment_2019'] = comments['gmap_id'].apply(lambda x: int(x in comment_2019))
comments['comment_2021'] = comments['gmap_id'].apply(lambda x: int(x in comment_2021))

In [ ]:
# Realizar left join basado en 'gmap_id'
df_meta2 = pd.merge(df_meta, comments, on='gmap_id', how='left')
df_meta2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323024 entries, 0 to 323023
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   local_name      323024 non-null  object
 1   gmap_id         323024 non-null  object
 2   latitude        323024 non-null  object
 3   longitude       323024 non-null  object
 4   avg_rating      323024 non-null  object
 5   num_of_reviews  323024 non-null  object
 6   rest_category   323024 non-null  object
 7   abierto         285694 non-null  object
 8   service         273310 non-null  object
 9   comment_2019    52374 non-null   float64
 10  comment_2021    52374 non-null   float64
dtypes: float64(2), object(9)
memory usage: 29.6+ MB

In [ ]:
# Agrupar por subcategoría y sumar 'comment_2019' y 'comment_2021'
grouped_data = df_meta2.groupby('rest_category')['comment_2019', 'comment_2021'].sum()
grouped_data['percentage'] = round(grouped_data.comment_2021/grouped_data.comment_2019*100,2)
grouped_data

<ipython-input-50-84de281747bf>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = df_meta2.groupby('rest_category')['comment_2019', 'comment_2021'].sum()

                  comment_2019  comment_2021  percentage
rest_category
Bar                    12991.0       10906.0       83.95
Desayuno                6075.0        5187.0       85.38
Epecial                 2346.0        2110.0       89.94
Fast food               3669.0        3288.0       89.62
Internacional           4195.0        3822.0       91.11
Mexicana                2316.0        2263.0       97.71
Pizza & Sandwich        3948.0        3327.0       84.27
Sin Dato                3454.0        3534.0      102.32
Tradicional             1972.0        1903.0       96.50

## Exportar Metadata & Reviews

In [ ]:
#Filtrar registros según estados
df_meta2 = df_meta2[df_meta2['gmap_id'].isin(df_reviewg['gmap_id'].unique())]
# Transpasar la columna state a metadata
df_meta2 = pd.merge(df_meta2, df_reviewg.drop_duplicates(subset=['gmap_id', 'state'])[['gmap_id', 'state']], on='gmap_id', how='left')
# Eliminar columna state de review
df_reviewg.drop(['state'], axis=1, inplace=True)

In [ ]:
# Exportar archivos
#df_meta2.to_csv('metadata_google.csv',index = False)
#df_reviewg.to_csv('reviews_google_opinion.csv',index = False)

# Places API

## Metadata

In [ ]:
df_meta_API.head()

,name,rating,latitude,longitude,place_id,state
0,Me-n-Eds Pizzeria,3.3,35.4068787,-118.8608044,ChIJt8G5AcFz6oAReUBzQ4TH4n4,CA
1,Aldo's Nightclub & Restaurant,3.5,36.7501293,-119.8191931,ChIJU18cdjNnlIARvNaox9xVRQo,CA
2,Sbarro,3.6,34.268505,-119.248604,ChIJOe2yJ0-t6YARCL1ZJuhaf-o,CA
3,Mariani's Inn & Restaurant,3.6,37.3520406,-121.9709216,ChIJ352eomrKj4ARbeF9qPRatko,CA
4,Chipotle Mexican Grill,3.7,33.9555803,-117.389443,ChIJZfD597ax3IAR-wBRMm2p9WM,CA

In [ ]:
df_meta_API.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1326 non-null   object
 1   rating     1326 non-null   object
 2   latitude   1326 non-null   object
 3   longitude  1326 non-null   object
 4   place_id   1326 non-null   object
 5   state      1326 non-null   object
dtypes: object(6)
memory usage: 62.3+ KB

In [ ]:
# Verificando si existe coincidencia entre los negocios adicionales y los ya existentes
# Conclusión: todos los negocios son nuevos
df_meta_API[df_meta_API['place_id'].isin(df_meta2['gmap_id'])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       0 non-null      object
 1   rating     0 non-null      object
 2   latitude   0 non-null      object
 3   longitude  0 non-null      object
 4   place_id   0 non-null      object
 5   state      0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

In [ ]:
df_meta_API.state.value_counts()

TX    278
NY    269
PA    266
FL    258
CA    255
Name: state, dtype: int64

In [ ]:
# Categorizar restaurantes

df_meta_API['rest_category'] = df_meta_API['name'].apply(categorize)
df_meta_API.rest_category.value_counts()

Sin Dato            873
Bar                 105
Pizza & Sandwich     99
Tradicional          74
Internacional        63
Desayuno             54
Mexicana             37
Epecial              21
Name: rest_category, dtype: int64

In [ ]:
df_meta_API[df_meta_API['rest_category'] == 'Sin Dato'].iloc[500:520]

,name,rating,latitude,longitude,place_id,state,rest_category
765,Starbucks,4.0,40.83542500000001,-73.8613878,ChIJn3PuW770wokRue-aOe6Cor0,NY,Sin Dato
766,Starbucks,4.1,40.5866036,-74.16765010000002,ChIJ3TEo9H5MwokRXzJ1dhknM54,NY,Sin Dato
767,Starbucks,4.1,42.6463389,-73.6971914,ChIJXbbZeFII3okRDH7KcpGz900,NY,Sin Dato
768,Starbucks,4.2,40.7394418,-73.7854773,ChIJ2RQH-bBhwokRTxgg6q8oot0,NY,Sin Dato
769,Starbucks,4.3,41.13441099999999,-73.793157,ChIJc-lvXuK-wokRfxMWiw7SgAc,NY,Sin Dato
770,Panera Bread,3.9,40.578223,-74.164086,ChIJjdsvDYdLwokRfk6GhNTIugs,NY,Sin Dato
771,Panera Bread,3.9,41.3197928,-74.1488153,ChIJ7c7jxTzXwokR8I_TL8dG47A,NY,Sin Dato
776,Texas Roadhouse,4.4,43.055556,-76.07739,ChIJkbj8U9iM2YkRPGRqiH5dHp4,NY,Sin Dato
782,Einstein Bros. Bagels,2.9,39.86047440000001,-75.359206,ChIJlyJGZOHnxokRVtOG83G3D3w,PA,Sin Dato
783,Moe's Southwest Grill,2.9,39.8605367,-75.3589128,ChIJcYQHYO7nxokR2MPe8F3gAL0,PA,Sin Dato
785,Sheetz,3.0,40.65589389999999,-75.4174639,ChIJhZMrTUE_xIkRnLBYFvcbIj8,PA,Sin Dato
786,KFC,3.3,39.87100179999999,-75.38469309999999,ChIJ5-vC9X7oxokRDGDoQKr5oHo,PA,Sin Dato
788,Coen Markets,3.4,40.2029698,-79.4976136,ChIJy2wI8vPWNIgRQocUSEyauU4,PA,Sin Dato
789,Philly Tap & Tavern,3.6,39.85119869999999,-75.3483421,ChIJk-yhv_DnxokRKfxcDUM3lZE,PA,Sin Dato
791,The Jetport Restaurant & Lounge,3.6,40.6575136,-75.42695259999999,ChIJIf_3RUk_xIkR1L0cRFhQfnM,PA,Sin Dato
793,Moe's Southwest Grill,3.7,40.6566459,-75.4181509,ChIJb9FLqEY_xIkRsQFVfW9tEUc,PA,Sin Dato
794,Indigo Restaurant and Lounge,3.7,40.62587200000001,-75.487444,ChIJtcr3-KM5xIkRCquC2vj-_Qs,PA,Sin Dato
795,Presque Isle Downs & Casino,3.8,42.06850590000001,-80.03093910000001,ChIJ5X8MKRKBMogRkBd-Af82CFE,PA,Sin Dato
798,White Castle,3.8,40.62384609999999,-75.4824665,ChIJW4zGlKA5xIkRcl3o9Uqhivk,PA,Sin Dato
799,SUBWAY Restaurants,3.9,41.02005090000001,-76.85455069999999,ChIJvekPTmkNz4kR9LifcG_kFgc,PA,Sin Dato

In [ ]:
df_meta_API[df_meta_API['rest_category'] == 'Sin Dato'].name.value_counts()[0:20]

Subway                       150
Starbucks                     28
McDonald's                    16
Circle K                      13
Dunkin'                       11
Wawa                          10
Panera Bread                   8
Wendy's                        8
Texas Roadhouse                7
Popeyes Louisiana Kitchen      7
Shell                          6
Chick-fil-A                    6
Panda Express                  5
Moe's Southwest Grill          5
Wingstop                       4
Denny's                        4
Beef 'O' Brady's               3
Red Lobster                    3
Joe's Crab Shack               3
Jack in the Box                3
Name: name, dtype: int64

In [ ]:
573/1326

0.4321266968325792

## Reviews

In [ ]:
df_reviews_API.head()

,place_id,author_url,rating,text,time,feeling
0,ChIJ0UCi3amNlIARv4LaG8tx8Nw,https://www.google.com/maps/contrib/1079795917...,1,Went in to order employee was on the phone tak...,2023-04-22,Neutral
1,ChIJ-6I06mBmlIARsXkHNiP2JjU,https://www.google.com/maps/contrib/1033430646...,1,Close before time. Subway closing time is 9.00...,2023-04-10,Neutral
2,ChIJ-6I06mBmlIARsXkHNiP2JjU,https://www.google.com/maps/contrib/1003307838...,1,I go overthere with a subway coupen and they d...,2023-04-06,Neutral
3,ChIJeQ1Xz6FglIARt8qylXnXreo,https://www.google.com/maps/contrib/1087787963...,1,Cashier didn’t wash hands l. Just put on glove...,2023-02-08,Neutral
4,ChIJX4tJJk-t6YARg9pw7vrdsR8,https://www.google.com/maps/contrib/1003009940...,1,The staff needs to learn to communicate with t...,2018-10-08,Neutral

In [ ]:
df_reviews_API.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6597 entries, 0 to 6596
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place_id    6597 non-null   object
 1   author_url  6597 non-null   object
 2   rating      6597 non-null   object
 3   text        6597 non-null   object
 4   time        6597 non-null   object
 5   feeling     6597 non-null   object
dtypes: object(6)
memory usage: 309.4+ KB

In [ ]:
# Verificando si todos los negocios extraídos tienen alguna review asociada
# Consluión: se verifica
df_reviews_API[df_reviews_API['place_id'].isin(df_meta_API['place_id'])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6597 entries, 0 to 6596
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place_id    6597 non-null   object
 1   author_url  6597 non-null   object
 2   rating      6597 non-null   object
 3   text        6597 non-null   object
 4   time        6597 non-null   object
 5   feeling     6597 non-null   object
dtypes: object(6)
memory usage: 360.8+ KB

In [ ]:
# Verificando si todos los meta extraídos tienen un negocio asociado
# Consluión: se verifica
df_meta_API[df_meta_API['place_id'].isin(df_reviews_API['place_id'].unique())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1326 entries, 0 to 1325
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1326 non-null   object
 1   rating     1326 non-null   object
 2   latitude   1326 non-null   object
 3   longitude  1326 non-null   object
 4   place_id   1326 non-null   object
 5   state      1326 non-null   object
dtypes: object(6)
memory usage: 72.5+ KB

In [ ]:
df_reviews_API['date'] = pd.to_datetime(df_reviews_API['time'], format='%Y-%m-%d')
df_reviews_API.date.describe(datetime_is_numeric=True)

count                             6597
mean     2022-07-28 10:31:29.222373632
min                2011-12-07 00:00:00
25%                2022-05-27 00:00:00
50%                2022-12-08 00:00:00
75%                2023-03-29 00:00:00
max                2023-06-08 00:00:00
Name: date, dtype: object

In [ ]:
df_reviews_API.date.quantile(0.05)

Timestamp('2019-12-27 19:12:00')

# Yelp

## Business

In [ ]:
df_business.head()

,business_id,local_name,state,latitude,longitude,stars,num_of_reviews,attributes,subcategory,hours,platform,category
0,BJ0Z74sTz9sxRr1R533Inw,Best Rate Home Services,FL,27.9549045,-82.3334943,1.0,5,"{""BusinessAcceptsCreditCards"": ""True"", ""ByAppo...","restaurants, local services, movers, home clea...","{""Monday"": ""8:0-18:0"", ""Tuesday"": ""8:0-18:0"", ...",Yelp,food service
1,dm9UbH8XPAP6735lHRYILA,Ruby's Roof Jamaican Restaurant,PA,40.0382907,-75.1303845,1.0,5,"{""RestaurantsDelivery"": ""True"", ""RestaurantsTa...","restaurants, caribbean","{""Monday"": ""8:0-22:0"", ""Tuesday"": ""8:0-22:0"", ...",Yelp,food service
2,aVRVBncwdK3GrqLKLFPKAg,Paradise Pizzeria,PA,40.0091223,-75.1004709,1.0,5,"{""RestaurantsDelivery"": ""True"", ""RestaurantsTa...","restaurants, pizza","{""Monday"": ""11:0-23:0"", ""Tuesday"": ""11:0-23:0""...",Yelp,food service
3,IMn6n4kjpvp0ur_KT6C3pw,Dollar General,FL,27.9365971,-82.290957,1.0,5,"{""RestaurantsPriceRange2"": ""1"", ""BusinessParki...","shopping, discount store, food, grocery, fashi...",None,Yelp,food service
4,X3Qa-dXb2DFdZZ2UnAfSVg,Dunkin',PA,40.087335,-75.039989,1.0,5,"{""RestaurantsPriceRange2"": ""1"", ""BikeParking"":...","coffee & tea, donuts, food, restaurants","{""Monday"": ""5:0-18:0"", ""Tuesday"": ""5:0-18:0"", ...",Yelp,food service

In [ ]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30253 entries, 0 to 30252
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     30253 non-null  object
 1   local_name      30253 non-null  object
 2   state           30253 non-null  object
 3   latitude        30253 non-null  object
 4   longitude       30253 non-null  object
 5   stars           30253 non-null  object
 6   num_of_reviews  30253 non-null  object
 7   attributes      30253 non-null  object
 8   subcategory     30253 non-null  object
 9   hours           30253 non-null  object
 10  platform        30253 non-null  object
 11  category        30253 non-null  object
dtypes: object(12)
memory usage: 2.8+ MB

In [ ]:
# Eliminar registros de más
idx = df_business[df_business['subcategory'].str.contains('food store|supplier|public|publish|convenience|gas |atm|bank|manufacturer|organization|food producer|food market|grocery')].index
df_business = df_business.drop(idx).reset_index(drop = True)

In [ ]:
# Eliminar registro de otro estado
df_business.drop(index = df_business[df_business.local_name == 'Adrians Bakery'].index, inplace = True)

In [ ]:
#Transformar al tipo de dato correspondiente
df_business['hours'] = df_business['hours'].apply(lambda x: ast.literal_eval(x))
df_business['attributes'] = df_business['attributes'].apply(lambda x: ast.literal_eval(x))
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27311 entries, 0 to 27311
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     27311 non-null  object
 1   local_name      27311 non-null  object
 2   state           27311 non-null  object
 3   latitude        27311 non-null  object
 4   longitude       27311 non-null  object
 5   stars           27311 non-null  object
 6   num_of_reviews  27311 non-null  object
 7   attributes      26962 non-null  object
 8   subcategory     27311 non-null  object
 9   hours           23367 non-null  object
 10  platform        27311 non-null  object
 11  category        27311 non-null  object
dtypes: object(12)
memory usage: 2.7+ MB

### Categorías de restaurantes

In [ ]:
# Definir función para categorizar
def categorize (row):
    row = row.lower()
    if 'fast food' in row:
        return 'Fast food'
    elif any(word in row for word in ['burger', 'chicken', 'barbecue', 'barbeque', 'steak','bistro','buffet']):
        return 'Tradicional'
    elif any(word in row for word in ['pizza', 'sandwich', 'hot dog']):
        return 'Pizza & Sandwich'
    elif any(word in row for word in ['bar', 'beer', 'pub','club','nightlife','brew']):
        return 'Bar'
    elif any(word in row for word in ['mexican', 'taco']):
        return 'Mexicana'
    elif any(word in row for word in ['deli', 'seafood', 'wine', 'cocktail','vegan','vegeta']):
        return 'Epecial'
    elif any(word in row for word in ['chinese', 'italian', 'asian', 'japan', 'sushi', 'thai', 'indian', 'korean','latin','ramen','africa'\
                                       'mediterranean','vietnamese','jamaica','greek','eastern','caribbean','cuba','peru','salvador','cajun','french','german'\
                                        'polish','brazil','filipin']):
        return 'Internacional'
    elif any(word in row for word in ['coffee','cafe', 'ice cream', 'dessert', 'yogurt', 'baker', 'pastry', 'breakfast', 'cupcake', 'tea', 'smoothie','juice']):
        return 'Desayuno'
    else:
        return 'Sin Dato'

df_business['rest_category'] = df_business['subcategory'].apply(categorize)

# Asignando categoría a los 'food truck' restantes
idx_truck = list(df_business[(df_business['rest_category'] == 'Sin Dato') & (df_business['subcategory'].str.contains('food truck'))].index)
df_business.loc[idx_truck,'rest_category'] = 'Tradicional'

In [ ]:
df_business.rest_category.value_counts()

Bar                 6207
Pizza & Sandwich    4396
Desayuno            3655
Tradicional         3587
Internacional       3228
Fast food           2056
Sin Dato            1809
Epecial             1389
Mexicana             984
Name: rest_category, dtype: int64

### Eliminar registros usando subcategorías y categorías

In [ ]:
# Eliminar registros restantes que no tienen categoría y no contienen la palabra restaurante
idx2 = list(df_business[(df_business['rest_category'] == 'Sin Dato') & (~df_business['subcategory'].str.contains('restaurant'))].index)
df_business = df_business.drop(idx2).reset_index(drop = True)

In [ ]:
df_business.rest_category.value_counts()

Bar                 6207
Pizza & Sandwich    4396
Desayuno            3655
Tradicional         3587
Internacional       3228
Fast food           2056
Epecial             1389
Sin Dato            1184
Mexicana             984
Name: rest_category, dtype: int64

### Días abierto

In [ ]:
# Crear una columna con lista de días abierto
df_business['day_open'] = df_business.hours.apply(lambda x: list(x.keys()) if isinstance(x, dict) else None)

In [ ]:
#Días abiertos discreto

def open (row):
    mon_sat = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday']
    tue_sun = ['Saturday', 'Sunday', 'Thursday', 'Friday']
    wed_sat = ['Saturday', 'Thursday', 'Friday', 'Wednesday']
    week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    if isinstance(row,list):
        if len(row) == 7:
            return 'Todos los días'
        elif all(weekday in row for weekday in mon_sat):
            return 'Domingo cerrado'
        elif all(weekday in row for weekday in tue_sun):
            return 'Jue-Dom'
        elif all(weekday in row for weekday in wed_sat):
            return 'Mie-Sab'
        elif all(weekday in row for weekday in week):
            return 'Semana'
        else:
            return 'Otro'

df_business['abierto'] = df_business.day_open.apply(open)

In [ ]:
df_business.abierto.value_counts()

Todos los días     15795
Jue-Dom             3073
Domingo cerrado     2105
Mie-Sab              794
Otro                 567
Semana               549
Name: abierto, dtype: int64

### Servicio

In [ ]:
# Defino las claves a chequear en el diccionario de cada fila de la columna 'attributes'
keys_to_check = ['RestaurantsTakeOut', 'RestaurantsTableService', 'RestaurantsCounterService', 'DriveThru', 'RestaurantsDelivery']

# Crear una columna nueva con la lista de las llaves conteniendo valores True
df_business['service_raw'] = df_business['attributes'].apply(lambda x: ["'"+key+"'" for key, value in x.items() if key in keys_to_check and value] if isinstance(x, dict) else None)

In [ ]:
# Crear un nuevo df con las columnas 'business_id' y 'service' estando expandida los valores lista en la segunda
service_yelp = df_business[['business_id', 'service_raw']].explode('service_raw').reset_index(drop=True)
service_yelp.head()

              business_id                service_raw
0  BJ0Z74sTz9sxRr1R533Inw       'RestaurantsTakeOut'
1  BJ0Z74sTz9sxRr1R533Inw  'RestaurantsTableService'
2  dm9UbH8XPAP6735lHRYILA      'RestaurantsDelivery'
3  dm9UbH8XPAP6735lHRYILA       'RestaurantsTakeOut'
4  aVRVBncwdK3GrqLKLFPKAg      'RestaurantsDelivery'

In [ ]:
# Reemplazar por los valores definidos
service_yelp['service'] = service_yelp.service_raw.replace({"'RestaurantsTakeOut'": 'Takeout', "'DriveThru'":'Takeout',"'RestaurantsDelivery'":'Delivery',
                              "'RestaurantsTableService'": 'Dine-in', "'RestaurantsCounterService'":'Dine-in'})
service_yelp.service.fillna('Sin Dato', inplace= True)
service_yelp.head()

              business_id                service_raw   service
0  BJ0Z74sTz9sxRr1R533Inw       'RestaurantsTakeOut'   Takeout
1  BJ0Z74sTz9sxRr1R533Inw  'RestaurantsTableService'   Dine-in
2  dm9UbH8XPAP6735lHRYILA      'RestaurantsDelivery'  Delivery
3  dm9UbH8XPAP6735lHRYILA       'RestaurantsTakeOut'   Takeout
4  aVRVBncwdK3GrqLKLFPKAg      'RestaurantsDelivery'  Delivery

In [ ]:
# Transformar dataframe a valores únicos asociado a cada 'business_id'
service_yelp_unq = service_yelp.groupby('business_id')['service'].agg(lambda x: list(set(x))).reset_index()
service_yelp_unq.head()

              business_id                       service
0  ---kPU91CF4Lq2-WlRu9Lw  [Dine-in, Takeout, Delivery]
1  --ARBQr1WMsTWiwOKOj-FQ                    [Sin Dato]
2  --ZVrH2X2QXBFdCilbirsw  [Dine-in, Takeout, Delivery]
3  --epgcb7xHGuJ-4PUeSLAw                     [Takeout]
4  --onnLZrsCazmcy2P_7fcw           [Takeout, Delivery]

In [ ]:
# Convertir lista a string
service_yelp_unq['service'] = service_yelp_unq.service.apply(lambda x: ', '.join(map(str, x)))
# Renombrar valores para homogenizar
service_yelp_unq.service.replace({'Takeout, Delivery, Dine-in':'Dine-in, Takeout, Delivery',
                                    'Dine-in, Delivery, Takeout':'Dine-in, Takeout, Delivery',
                                    'Delivery, Dine-in, Takeout': 'Dine-in, Takeout, Delivery',
                                    'Takeout, Dine-in': 'Dine-in, Takeout',
                                    'Delivery, Dine-in': 'Dine-in, Delivery'}, inplace = True)
service_yelp_unq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26686 entries, 0 to 26685
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  26686 non-null  object
 1   service      26686 non-null  object
dtypes: object(2)
memory usage: 417.1+ KB

In [ ]:
# Perform left join based on 'gmap_id'
df_business = pd.merge(df_business, service_yelp_unq, on='business_id', how='left')
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26686 entries, 0 to 26685
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     26686 non-null  object
 1   local_name      26686 non-null  object
 2   state           26686 non-null  object
 3   latitude        26686 non-null  object
 4   longitude       26686 non-null  object
 5   stars           26686 non-null  object
 6   num_of_reviews  26686 non-null  object
 7   attributes      26363 non-null  object
 8   subcategory     26686 non-null  object
 9   hours           22883 non-null  object
 10  platform        26686 non-null  object
 11  category        26686 non-null  object
 12  rest_category   26686 non-null  object
 13  day_open        22883 non-null  object
 14  abierto         22883 non-null  object
 15  service_raw     26363 non-null  object
 16  service         26686 non-null  object
dtypes: object(17)
memory usage: 3.7+ MB

In [ ]:
df_business.service.value_counts()

Takeout, Delivery             12781
Dine-in, Takeout, Delivery     8355
Sin Dato                       3528
Takeout                        1497
Delivery                        351
Dine-in, Takeout                 84
Dine-in                          48
Dine-in, Delivery                42
Name: service, dtype: int64

### Precio

In [ ]:
# Definir una función para extraer los valores de precio del diccionario de 'attributes'
def extract_price(attributes):
    if isinstance(attributes, dict) and 'RestaurantsPriceRange2' in attributes:
        return attributes['RestaurantsPriceRange2']
    else:
        return None

# Aplicar la función para crear una columna precio con los valores
df_business['price'] = df_business['attributes'].apply(lambda x: extract_price(x))

In [ ]:
# Reemplazar los valores extrídos por los valores deseados
df_business.price.replace({'1':'S','2':'SS','3':'SSS','4':'SSSS'}, inplace= True)
df_business.price.value_counts()

SS      11601
S        9594
SSS       914
SSSS      112
None        5
Name: price, dtype: int64

## Reviews

In [ ]:
yelp_reviews.head()

,review_id,user_id,business_id,rating,opinion,date,feeling
0,-r_i_uKIGjR8vNFuuFddsQ,Qt_SZ14ZRZjwO_iL5y0wFg,p9Dd6AjOawHGGzcUntYr-A,4.0,A reliable gem. The pho here is complex and de...,2018-05-28,Positive
1,EaN_wDLaya8tyDM3ljSUlQ,1ERjJXmX5XNlTBCXNJ_IIA,275u148dTf0tCENn-l_9Ag,4.0,In my opinion the better chinese food in the a...,2018-06-20,Positive
2,q9la3cNw4Fn5DIHsAwa5mQ,gxVZ_PSFlACr2C_HNxA9JQ,Mbr7CSl0bvDo5kFvZMPv_g,4.0,Food was delicious. I had the special of sear...,2018-09-23,Positive
3,-Vs95jfioYVBThzy5e9yhA,Dn9WngLhC-utqIS07IlP2A,Hr6aM0s-woIJaW6DJSbvNQ,4.0,they're not totally at a 4 yet but definitely ...,2018-11-09,Positive
4,IpfmRb1gYlc33QIKWtyDqQ,eGyScPwJZSzag5vXAsBuvw,bhb3pGBQZETqKPSnsEgaSg,4.0,Clean and nice atmosphere. The ladies do a gre...,2018-12-12,Positive

In [ ]:
yelp_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596987 entries, 0 to 4596986
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   rating       object
 4   opinion      object
 5   date         object
 6   feeling      object
dtypes: object(7)
memory usage: 245.5+ MB

In [ ]:
# Filtrar los registros que no corresponden a restaurantes
yelp_reviews = yelp_reviews[yelp_reviews['business_id'].isin(df_business['business_id'])].reset_index(drop = True)
yelp_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420212 entries, 0 to 1420211
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1420212 non-null  object
 1   user_id      1420212 non-null  object
 2   business_id  1420212 non-null  object
 3   rating       1420212 non-null  object
 4   opinion      1420212 non-null  object
 5   date         1420212 non-null  object
 6   feeling      1420212 non-null  object
dtypes: object(7)
memory usage: 75.8+ MB

In [ ]:
# Crear columna con 1 y 0 indicando si el commentario es mayor a 200 caracteres
yelp_reviews['opinion_length'] = yelp_reviews['opinion'].apply(lambda x: 1 if len(x.replace(" ", "")) > 200 else 0)

In [ ]:
#Corte 30, 1: 1420087
#Corte 45, 1: 1419135
#Corte 80, 1: 1382165
# Corte 150, 1: 1123512
# Corte 200, 1: 955825
yelp_reviews.opinion_length.value_counts()

1    955805
0    464407
Name: opinion_length, dtype: int64

In [ ]:
yelp_reviews.drop(["user_id",'review_id'], axis=1, inplace=True)

In [ ]:
#yelp_reviews.to_csv('reviews_yelp_opinion.csv',index = False)

## Business Extra

In [ ]:
yelp_reviews['date'] = pd.to_datetime(yelp_reviews['date'])

In [ ]:
# Obtener una lista de los ids de restaurantes que recibieron al menos un comentario en 2019 y 2021 respectivamente
comment_2019y = list(yelp_reviews[yelp_reviews.date.dt.year == 2019]['business_id'].unique())
comment_2021y = list(yelp_reviews[yelp_reviews.date.dt.year == 2021]['business_id'].unique())

# Crear un nuevo dataframe con valores únicos de 'business_id'
comments_yelp = pd.DataFrame(yelp_reviews['business_id'].unique(), columns=['business_id'])
# Agregar al dataframe dos columnas indicando si el restaurante tuvo o no comentarios en los respectivos años
comments_yelp['comment_2019'] = comments_yelp['business_id'].apply(lambda x: int(x in comment_2019y))
comments_yelp['comment_2021'] = comments_yelp['business_id'].apply(lambda x: int(x in comment_2021y))

In [ ]:
# Perform left join based on 'business_id'
df_business2 = pd.merge(df_business, comments_yelp, on='business_id', how='left')
df_business2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26686 entries, 0 to 26685
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     26686 non-null  object
 1   local_name      26686 non-null  object
 2   state           26686 non-null  object
 3   latitude        26686 non-null  object
 4   longitude       26686 non-null  object
 5   stars           26686 non-null  object
 6   num_of_reviews  26686 non-null  object
 7   attributes      26363 non-null  object
 8   subcategory     26686 non-null  object
 9   hours           22883 non-null  object
 10  platform        26686 non-null  object
 11  category        26686 non-null  object
 12  rest_category   26686 non-null  object
 13  day_open        22883 non-null  object
 14  abierto         22883 non-null  object
 15  service_raw     26363 non-null  object
 16  service         26686 non-null  object
 17  price           22226 non-null  object
 18  comment_2019    23382 non-null  float64
 19  comment_2021    23382 non-null  float64
dtypes: float64(2), object(18)
memory usage: 4.3+ MB

In [ ]:
# Group by 'subcategories' and calculate the sum of 'comment_2019' and 'comment_2021'
grouped_yelp = df_business2.groupby('rest_category')['comment_2019', 'comment_2021'].sum()
grouped_yelp['percentage'] = round(grouped_yelp.comment_2021/grouped_yelp.comment_2019*100,2)
grouped_yelp

<ipython-input-38-bc8a5f6549bc>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_yelp = df_business2.groupby('rest_category')['comment_2019', 'comment_2021'].sum()

                  comment_2019  comment_2021  percentage
rest_category
Bar                     4125.0        3588.0       86.98
Desayuno                2354.0        2120.0       90.06
Epecial                  832.0         813.0       97.72
Fast food               1641.0        1504.0       91.65
Internacional           1911.0        1726.0       90.32
Mexicana                 597.0         595.0       99.66
Pizza & Sandwich        2980.0        2685.0       90.10
Sin Dato                 542.0         457.0       84.32
Tradicional             2351.0        2197.0       93.45

### Exportar Business

In [ ]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26686 entries, 0 to 26685
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     26686 non-null  object
 1   local_name      26686 non-null  object
 2   state           26686 non-null  object
 3   latitude        26686 non-null  object
 4   longitude       26686 non-null  object
 5   stars           26686 non-null  object
 6   num_of_reviews  26686 non-null  object
 7   attributes      26363 non-null  object
 8   subcategory     26686 non-null  object
 9   hours           22883 non-null  object
 10  platform        26686 non-null  object
 11  category        26686 non-null  object
 12  rest_category   26686 non-null  object
 13  day_open        22883 non-null  object
 14  abierto         22883 non-null  object
 15  service_raw     26363 non-null  object
 16  service         26686 non-null  object
 17  price           22226 non-null  object
dtypes: object(18)
memory usage: 3.9+ MB

In [ ]:
# Eliminar columnas
df_business.drop(columns = ['attributes','subcategory','platform','category','hours','day_open','service_raw'], inplace=True)

In [ ]:
# Exportar archivo
#df_business.to_csv('business_yelp.csv',index = False)

## Checkin

In [ ]:
df_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [ ]:
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [ ]:
# Filtrar los registros que no corresponden a restaurantes
df_checkin = df_checkin[df_checkin['business_id'].isin(df_business['business_id'])].reset_index(drop = True)
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26026 entries, 0 to 26025
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  26026 non-null  object
 1   date         26026 non-null  object
dtypes: object(2)
memory usage: 406.8+ KB

In [ ]:
# Dividir los valores separados por coma en la columna 'date'
df_checkin['date'] = df_checkin['date'].str.split(', ')

# Expandir los valores de la lista en la columna 'date' en filas separadas
df_checkin = df_checkin.explode('date')

# Convertir en formato de tiempo
df_checkin['date'] = pd.to_datetime(df_checkin['date'])

# Transformar fecha al formato 'YYYY-MM-DD'
df_checkin['date'] = df_checkin['date'].dt.strftime('%Y-%m-%d')

df_checkin.head()

              business_id                date
0  ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56
0  ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06
0  ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27
0  ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13
0  ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33

In [ ]:
# Exportar archivo
#df_checkin.to_csv('checkin_yelp.csv',index = False)

# Exportar a BigQuery

## Crear dataset

In [ ]:
'''
# Especificar el ID del dataset
dataset_id = "GoogleMaps"

# Crear un objeto de referencia del dataset
dataset_ref = client.dataset(dataset_id)

# Crear el dataset
dataset = bigquery.Dataset(dataset_ref)
dataset = client.create_dataset(dataset)

print(f"Dataset '{dataset.dataset_id}' created.")

Dataset 'GoogleMaps' created.

In [ ]:
'''
# Especificar el ID del dataset
dataset_id2 = "Yelp2"

# Crear un objeto de referencia del dataset
dataset_ref2 = client.dataset(dataset_id2)

# Crear el dataset
dataset2 = bigquery.Dataset(dataset_ref2)
dataset2 = client.create_dataset(dataset2)

In [ ]:
print(f"Dataset '{dataset2.dataset_id}' created.")

Dataset 'Yelp2' created.

## Crear tablas

### GoogleMaps

In [ ]:
'''
# Crear un objeto de referencia de la tabla
tableRef1 = client.dataset("GoogleMaps").table("metadata")

# Definir trabajo
bigqueryJob1 = client.load_table_from_dataframe(df_meta2, tableRef1)

# Ejecutar trabajo
bigqueryJob1.result()

LoadJob<project=pg-yelp-gmaps-389415, location=US, id=4c691f49-f74c-452b-b524-59d080d74c6d>

In [ ]:
'''
# Crear un objeto de referencia de la tabla
tableRef2 = client.dataset("GoogleMaps").table("reviews")

# Definir trabajo
bigqueryJob2 = client.load_table_from_dataframe(df_reviewg, tableRef2)

# Ejecutar trabajo
bigqueryJob2.result()

LoadJob<project=pg-yelp-gmaps-389415, location=US, id=c3ccd301-e155-4061-abeb-ce86e9194d08>

### Yelp

In [ ]:
'''
# Crear un objeto de referencia de la tabla
tableRef3 = client.dataset("Yelp2").table("business")

# Definir trabajo
bigqueryJob3 = client.load_table_from_dataframe(df_business, tableRef3)

# Ejecutar trabajo
bigqueryJob3.result()

LoadJob<project=pg-yelp-gmaps-389415, location=US, id=82fb28df-73e4-492f-aa29-39ada2f7604f>

In [ ]:
'''
# Crear un objeto de referencia de la tabla
tableRef4 = client.dataset("Yelp2").table("reviews")

# Definir trabajo
bigqueryJob4 = client.load_table_from_dataframe(yelp_reviews, tableRef4)

# Ejecutar trabajo
bigqueryJob4.result()

LoadJob<project=pg-yelp-gmaps-389415, location=US, id=90876ca4-3bec-478b-b555-b119093f5043>

In [ ]:
'''
# Crear un objeto de referencia de la tabla
tableRef5 = client.dataset("Yelp2").table("checkin")

# Definir trabajo
bigqueryJob5 = client.load_table_from_dataframe(df_checkin, tableRef5)

# Ejecutar trabajo
bigqueryJob5.result()

LoadJob<project=pg-yelp-gmaps-389415, location=US, id=7c224cbb-4a9a-47d9-bd9a-0a9061315d24>